# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.env
venv/
*.egg-info/
.pytest_cache/

# Data files
*.csv
data/
backend/data/*
!backend/data/.gitkeep


# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Flutter
telugu_news_app/.dart_tool/
telugu_news_app/.flutter-plugins
telugu_news_app/.flutter-plugins-dependencies
telugu_news_app/.packages
telugu_news_app/build/

# Misc
*.log